.expense-form-grid {
  display: grid;
  grid-template-columns: repeat(8, 10%);
  // grid-template-columns: 1;
  // width: 70%;
  grid-gap: 1em;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
