.mat-submit-button {
  background-color: purple;
  color: #fff;
  margin-left: 2%;
}

.expense-form-grid {
  display: grid;
  grid-template-columns: 50% 30% 18%;
  grid-gap: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 2%;
}

.form-button {
  margin-top: 1%;
  margin-bottom: 1%;
}

.edit-button {
  margin-bottom: 1%;
}
