.mat-submit-button {
  background-color: purple;
  color: #fff;
  margin-left: 2%;
}

.expense-form-grid {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 1em;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 2%;
}

.form-button {
  margin-top: 1%;
  margin-bottom: 1%;
}

.edit-button {
  margin-bottom: 1%;
}
