.mat-submit-button {
  background-color: purple;
  color: #fff;
  margin-top: 3%;
  margin-left: 1%;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-columns: 1;
  // width: 70%;
  grid-gap: 4em;
  padding-left: 2%;
  padding-right: 2%;
}

.items {
  margin-top: 2%;
}

.form-grid {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 10%;
  // grid-template-columns: 1;
  // width: 70%;
  grid-gap: 4em;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
