<form [formGroup]="addInvoiceForm">
  <mat-form-field appearance="outline">
    <mat-label>Nazwa nabywcy</mat-label>
    <input
      type="text"
      matInput
      placeholder="Nazwa nabywcy"
      [formControl]="forContractorControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayContractor">
      <mat-option
        *ngFor="let contractor of filtredContractors | async"
        [value]="contractor"
      >
        {{ contractor.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data wystawienia faktury</mat-label>
    <input
      matInput
      [matDatepicker]="invoicePicker"
      [formControl]="invoiceDateControl"
      disabled
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="invoicePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #invoicePicker disabled="false"></mat-datepicker>
  </mat-form-field>
</form>
