<form [formGroup]="addInvoiceForm">
  <mat-form-field appearance="outline">
    <mat-label>Nazwa nabywcy</mat-label>
    <input
      type="text"
      matInput
      placeholder="Nazwa nabywcy"
      [formControl]="forContractorControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayContractor">
      <mat-option
        *ngFor="let contractor of filtredContractors | async"
        [value]="contractor"
      >
        {{ contractor.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data wystawienia faktury</mat-label>
    <input
      matInput
      [matDatepicker]="invoicePicker"
      [formControl]="invoiceDateControl"
      disabled
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="invoicePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #invoicePicker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data spłaty</mat-label>
    <input
      matInput
      [matDatepicker]="duePicker"
      [formControl]="dueDateControl"
      disabled
    />
    <mat-datepicker-toggle matSuffix [for]="duePicker"></mat-datepicker-toggle>
    <mat-datepicker #duePicker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data sprzedaży</mat-label>
    <input
      matInput
      [matDatepicker]="salePicker"
      [formControl]="saleDateControl"
      disabled
    />
    <mat-datepicker-toggle matSuffix [for]="salePicker"></mat-datepicker-toggle>
    <mat-datepicker #salePicker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Kwota netto</mat-label>
    <input
      matInput
      placeholder="Kwota netto"
      [formControl]="netAmountControl"
    />
    <span matSuffix>PLN</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Kwota brutto</mat-label>
    <input
      matInput
      placeholder="Kwota brutto"
      [formControl]="grossAmountControl"
    />
    <span matSuffix>PLN</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Wysokość VAT</mat-label>
    <input
      matInput
      placeholder="Stawka VAT"
      [formControl]="vatPercentControl"
    />
    <span matSuffix>%</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ilość jednostek</mat-label>
    <input
      matInput
      placeholder="Ilość jednostek"
      [formControl]="numberOfUnitsControl"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nazwa jednostki</mat-label>
    <input
      matInput
      placeholder="Nazwa jednostki"
      [formControl]="unitNameControl"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Kod pkwiu</mat-label>
    <input
      type="text"
      matInput
      placeholder="Kod pkwiu"
      [formControl]="pkwiuControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPkwiu">
      <mat-option *ngFor="let pkwiu of filtredPkwiu | async" [value]="pkwiu">
        {{ pkwiu.code }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
