<form [formGroup]="addInvoiceForm" (ngSubmit)="onSubmit()">
  <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Nazwa nabywcy</mat-label>
      <input
        type="text"
        matInput
        placeholder="Nazwa nabywcy"
        formControlName="forContractor"
        [matAutocomplete]="autoContractor"
      />
      <mat-autocomplete
        #autoContractor="matAutocomplete"
        [displayWith]="displayContractor"
      >
        <mat-option
          *ngFor="let contractor of filtredContractors | async"
          [value]="contractor"
        >
          {{ contractor.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data wystawienia faktury</mat-label>
      <input
        matInput
        [matDatepicker]="invoicePicker"
        formControlName="invoiceDate"
        disabled
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="invoicePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #invoicePicker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data spłaty</mat-label>
      <input
        matInput
        [matDatepicker]="duePicker"
        formControlName="dueDate"
        disabled
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="duePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #duePicker disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data sprzedaży</mat-label>
      <input
        matInput
        [matDatepicker]="salePicker"
        formControlName="saleDate"
        disabled
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="salePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #salePicker disabled="false"></mat-datepicker>
    </mat-form-field>
    <button
      *ngIf="invoiceId"
      type="button"
      (click)="onDeleteInvoice()"
      mat-button
      color="submit-button"
    >
      Usuń fakturę
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="items">
    <div
      *ngFor="let item of itemsControl.controls; let i = index"
      class="item-grid"
    >
      <ng-container [formGroup]="item">
        <mat-form-field appearance="outline">
          <mat-label>Usługa/produkt</mat-label>
          <input
            matInput
            placeholder="Usługa/produkt"
            formControlName="serviceName"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Kod pkwiu</mat-label>
          <input
            type="text"
            matInput
            placeholder="Kod pkwiu"
            formControlName="pkwiu"
            [matAutocomplete]="autoPkwiu"
          />
          <mat-autocomplete
            #autoPkwiu="matAutocomplete"
            [displayWith]="displayPkwiu"
          >
            <mat-option
              *ngFor="let pkwiu of filtredPkwiu[i] | async"
              [value]="pkwiu"
            >
              {{ pkwiu.code }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Kwota netto</mat-label>
          <input
            matInput
            placeholder="Kwota netto"
            formControlName="netAmount"
          />
          <span matSuffix>PLN</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Wysokość VAT</mat-label>
          <input
            matInput
            placeholder="Stawka VAT"
            formControlName="vatPercent"
          />
          <span matSuffix>%</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ilość jednostek</mat-label>
          <input
            matInput
            placeholder="Ilość jednostek"
            formControlName="numberOfUnits"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nazwa jednostki</mat-label>
          <input
            matInput
            placeholder="Nazwa jednostki"
            formControlName="unitName"
          />
        </mat-form-field>
        <mat-icon class="cursor-pointer" (click)="onDeleteItem(item)"
          >remove_circle</mat-icon
        >
      </ng-container>
    </div>
  </div>

  <div>
    <button
      type="button"
      (click)="onAddItem()"
      mat-button
      color="submit-button"
    >
      Dodaj element
    </button>
  </div>

  <div>
    <button type="submit" mat-button color="submit-button">
      Zatwierdź
    </button>
  </div>
</form>
