@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.navbar {
  // display: grid;
  // grid-column-gap: 20px;
  margin-left: 15px;
}

.navbar > a {
  // display: grid;
  // grid-column-gap: 20px;
  margin: 5px;
}

.navbar {
  margin-right: 40vw;
}

ul {
  list-style: none; /* Remove default bullets */
}

ol {
  list-style-type: none;
}
