<mat-toolbar color="primary">
  <img src="assets/img/logo.png" alt="image" width="30px" height="30px" />
  <span>inances</span>
  <div class="navbar">
    <a mat-button routerLink="" color="transparent">Pulpit</a>
    <a mat-button routerLink="/invoices" color="transparent">Faktury</a>
    <a mat-button routerLink="/addinvoice" color="transparent">Dodaj fakturę</a>
    <a mat-button routerLink="/expenses" color="transparent">Koszty</a>
    <a mat-button routerLink="/addExpenses" color="transparent">Dodaj koszt</a>
    <a mat-button color="transparent">O nas</a>
  </div>
</mat-toolbar>
<app-breadcrumb [deliminator]="'/'"></app-breadcrumb>
<router-outlet></router-outlet>
