.mat-row:nth-child(even) {
  background-color: #ffffff;
}

.mat-row:nth-child(odd) {
  background-color: #e4f0ec;
}

.table-grid {
  // display: grid;
  // width: 70%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 2%;
}
