body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.table-grid {
  // display: grid;
  // width: 70%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 2%;
}
