body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: 1;
  // width: 70%;
  grid-gap: 4em;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 2%;
}
